.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

.menu{
    width: 250px !important;
}

/* General sidebar styles */
.bm-menu {
    background: #ffffff;
    /* padding: 2.5em 1.5em 0; */
    font-size: 1.15em;
}
   
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.menu {
    color: #313131;
}

.menu-item {
    font-size: 16px;
}

.fa-fw{
    width: 1.5em;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.menu h1 {
    text-align: center;
}

#weather {
    border-top: 1px solid #313131;
}

#statistics {
    border-bottom: 1px solid #313131;
}

.btn {
    color: #313131;
    width: 100%;
    border: none;
    padding: 0.8em;
    text-align: left;
    font-size: 14px;
}

.btn:hover {
    color: #0c55f4;
}

.menu i {
    margin-right: 10px;
}

#sign-up {
    font-size: 20px;
    margin-left: 20px;
}

/* Social Icons Footer Side Bar */

#social {
    bottom: 0;
    left: 0;
    position: absolute;
    /* height: 100px; */
}

#social a:hover {
    color: #0c55f4;
}

#social a {
    display: inline-block;
    font-size: 24px;
    padding: 0 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #313131;
}
  
#social p {
    margin-left: 5px;
    font-size: 10px;
}