body {
  margin:0;
  padding:0;
  transition: background-color .5s;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/* Navigation */
.toggle {
  position: relative;
  z-index: 999;
  font-size: 30px;
  cursor: pointer;
  margin-left: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  /*transition: 0.1s;*/
  padding-top: 50px;
  box-shadow: 0 -1px 24px rgba(0,0,0,0.4);
}

.sidenav a {
  text-decoration: none;
  font-size: 14px;
  color: #313131;
  /*display: block;*/
  /*transition: 0.1s;*/
}

.sidenav li i {
  margin-right: 10px;
}

.sidenav a:hover {
  color: #0c55f4;
}

#logo {
  position: absolute;
  top: 0;
  /*right: 25px;*/
  /*font-size: 36px;*/
  /*margin-left: 50px;*/

}
#logo h2 {
  margin-left: 20px;
  display: inline;
}

#logo a {
  margin-left: 50px;
  font-size: 36px;
  display: inline;
}

.sidenav ul {
  list-style-type: none;
  padding: 0 0 8px 15px;
}

.sidenav ul li {
  padding: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

#sign-up a {
  padding: 30px;
  font-size: 16px;
}

/* Social media */
#socialMedia {
  bottom: 0;
  left: 0;
  position: absolute;
  height: 100px;
}

#socialMedia a {
  display: inline-block;
  font-size: 24px;
  padding: 0 20px;
  margin-left: 10px;
}

#socialMedia p {
  margin-left: 5px;
  font-size: 10px;
}
/* End of Navigation */
#map {
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
  z-index: 1;

}

#mapDark {
  display: none;
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;

}

/* Sign up form */

#sign-up-form {
  display: none;
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#form-sign {
  margin: auto;
  position: relative;
  padding: 15px;
  top: 10%;
  width: 400px;
  height: 400px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.container {
  line-height: 2rem;
}

.container input {
  padding: 10px;
  width: 94%;
  font-size: 12px;
}

.clearfix {
  margin-top: 10px;
}

.cancelbtn, .signupbtn {
  width: 50%;
  float: left;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.cancelbtn {
  background-color: #e7e7e7; /* Gray */
  color: black;
}
.cancelbtn:hover {
  background-color: #bababa;
}
.signupbtn {
  background-color: #555555; /* Black */
}
.signupbtn:hover {
  background-color: #333333;
}

@media (max-width: 30em) {
  #form-sign {
    width: 360px;
  }
}

/* End of sign up form */
